@import "@fortawesome/fontawesome-free/css/all.css";
@import "footer.scss";
@import "cards.scss";
@import "header.scss";
@import "tiles.scss";

$blue-color: rgb(123, 204, 238);
$base-color: #eee;
$shadow-color: #6b6b6b;
$new-green: rgb(77, 231, 187);
$invisible-blue: rgb(40, 156, 240);

:root {
    box-sizing: border-box;
}

body {
    background-color: $base-color;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}